@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --cor-primaria: #1B211A;
    --cor-secundaria: #628141;
    --cor-terciaria: #8BAE66;
    --cor-detalhes: #EBD5AB;
    --cor-texto: #000000;
    --fonte-titulo: "Unbounded", sans-serif;
    --fonte-texto: "Saira", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/floresta-fundo.jpg);
    background-size: cover;
    /* background: var(--cor-primaria);
    background: linear-gradient(36deg,rgba(27, 33, 26, 1) 0%, rgba(98, 129, 65, 1) 46%, rgba(139, 174, 102, 0.84) 100%); */
    background-repeat: no-repeat;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main div {
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 250px;
    gap: 16px;
    height: 90%;
    padding: 16px 64px;
}

.titulo-principal {
    align-self: center;
    padding: 32px 0;
    font-family: var(--fonte-titulo);
    color: var(--cor-detalhes);
    background-color: rgba(98, 129, 65, .75);
    padding: 8px;
    margin: 16px 0;
    border: solid var(--cor-primaria) 4px;
    border-radius: 16px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 24px;
    background-color: rgba(139, 174, 102, 0.45);
    border: solid var(--cor-primaria) 8px;
}

.secao-links {
    grid-column: 1;
    grid-row: 1 / -1;
}

.secao-planejamento {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.secao-timer {
    grid-column: 2 / 4;
    grid-row: 3;
}

.secao-aleatoria {
    grid-column: -2;
    grid-row: 1 / 3;
}

.titulo-secao {
    padding: 8px;
    margin-bottom: 16px;
    font-family: var(--fonte-titulo);
    font-weight: 500;
    color: var(--cor-detalhes);
    background-color: rgba(98, 129, 65, .55);
    border: solid var(--cor-detalhes) 4px;
    border-radius: 16px;
}

.lista-links {
    list-style-type:square;
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.link {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 1.25rem;

    position: relative;
}

.link:hover {
    color: var(--cor-detalhes);
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;

    width: 100%;
    height: 1px;
    background-color: var(--cor-texto);

    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btn-add-link {
    background-color: var(--cor-detalhes);
    width: 100%;
    height: 70px;
    border-radius: 16px;
    border: solid var(--cor-primaria) 4px;
    cursor: pointer;
    outline: none;

    color: var(--cor-texto);
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
}


.secao-modo {
    padding: 0;
    overflow: hidden;
}

.secao-modo button {
    width: 100%;
    height: 100%;
    border: solid var(--cor-primaria) 4px;
    cursor: pointer;

    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-foco {
    background-color: var(--cor-secundaria);
}

.btn-descanso-curto {
    background-color: var(--cor-terciaria);
}

.btn-descanso-longo {
    background-color: var(--cor-detalhes);
}