@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --cor-primaria: #1B211A;
    --cor-secundaria: #628141;
    --cor-terciaria: #8BAE66;
    --cor-detalhes: #EBD5AB;
    --cor-texto: #000000;
    --fonte-titulo: "Unbounded", sans-serif;
    --fonte-texto: "Saira", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(images/floresta-fundo.jpg);
    background-size: cover; */
    background: radial-gradient(circle,rgba(87, 143, 76, 0.89) 0%, rgba(118, 153, 89, 1) 0%, rgba(0, 0, 0, 1) 67%);
    background-repeat: no-repeat;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main div {
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 250px;
    gap: 16px;
    height: 90%;
    padding: 16px 64px;
}

.titulo-principal {
    align-self: center;
    padding: 32px 0;
    font-family: var(--fonte-titulo);
    color: var(--cor-detalhes);
    background-color: rgba(98, 129, 65, .75);
    padding: 8px;
    margin: 16px 0;
    border: solid var(--cor-detalhes) 4px;
    border-radius: 16px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 24px;
    /* background-color: rgba(139, 174, 102, 0.45); */
    background-color: rgba(98, 129, 65, .5);
    border: solid var(--cor-primaria) 4px;
}

.secao-links {
    grid-column: 1;
    grid-row: 1 / -1;
}

.secao-planejamento {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.secao-timer {
    grid-column: 2 / 4;
    grid-row: 3;

    /* background-color: var(--cor-detalhes); */
    background: linear-gradient(0deg,rgba(129, 121, 97, 1) 12%, rgba(235, 213, 171, 1) 100%);
    border: solid var(--cor-primaria) 4px;

}

.secao-timer>div {
    display: flex;
    width: 100%;
    padding: 0;
    position: relative;
}

.secao-aleatoria {
    grid-column: -2;
    grid-row: 1 / 3;
}

.titulo-secao {
    padding: 8px;
    margin-bottom: 16px;
    font-family: var(--fonte-titulo);
    font-weight: 500;
    color: var(--cor-detalhes);
    background-color: rgba(98, 129, 65, .55);
    border: solid var(--cor-detalhes) 4px;
    border-radius: 16px;
}

.secao-timer h2 {
    border-color: var(--cor-primaria);
    background-color: var(--cor-primaria);
}

.lista-links {
    list-style-type:square;
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.link {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 1.25rem;

    position: relative;
}

.link:hover {
    color: var(--cor-detalhes);
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;

    width: 100%;
    height: 1px;
    background-color: var(--cor-texto);

    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btn-add-link {
    background-color: var(--cor-detalhes);
    width: 100%;
    height: 70px;
    border-radius: 16px;
    border: solid var(--cor-primaria) 4px;
    cursor: pointer;
    outline: none;

    color: var(--cor-texto);
    font-size: 1rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
}

.btn-add-link:hover, .secao-modo button:hover {
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    transition-duration: .5s;
}

.btn-add-link, .secao-modo button {
    transition-duration: .5s;
}

.timer {
    margin: 0 auto;
    font-size: 8rem;
    line-height: 100%;
    user-select: none;
}

.timer-btns {
    position: absolute;
    right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer-btns button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-detalhes);
    border: solid var(--cor-primaria) 3px;
    cursor: pointer;
}

.timer-btns button:hover {
    border-color: var(--cor-detalhes);
}

.secao-modo {
    padding: 0;
    overflow: hidden;
}

.secao-modo button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;

    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-foco {
    background-color: var(--cor-secundaria);
}

.btn-descanso-curto {
    background-color: var(--cor-terciaria);
}

.btn-descanso-longo {
    background-color: var(--cor-detalhes);
}